
body {
  background-color: yellow
}
  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: white;
}

.on {
  background-color: blue;
}
  
.box:hover { 
  background: Blue;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: Blue;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
} 

p {
  color: blue;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

.rules {
  
    color: white;
    margin: auto;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
    width: 60%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
ol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


li {
  color: blue
}